<footer class="mt-10 h-full w-full bg-white">
  <div class="conatiner mx-auto flex max-w-7xl flex-col p-10">
      <div
          class="flex h-full flex-col items-start justify-between rounded-md lg:flex-row">
          <div class="flex flex-col gap-y-3">
              <a href="index.html" class="link text-4xl font-semibold">X-Auto</a>
              <span class="text-secondary text-sm font-medium">
                  Our vision is to provide convenience
                  <br />
                  and help increase your sales business.
              </span>
          </div>

          <div
              class="mt-10 flex flex-col justify-evenly gap-5 lg:mt-0 lg:flex-row lg:gap-20">
              <div class="flex flex-col gap-5">
                  <h1 class="text-primary text-xl font-semibold">About</h1>
                  <ul
                      class="text-secondary font-base flex flex-col gap-y-3 text-sm">
                      <li>How it works</li>
                      <li>featured</li>
                      <li>Partnership</li>
                      <li>Business Relations</li>
                  </ul>
              </div>
              <div class="flex flex-col gap-5">
                  <h1 class="text-primary text-xl font-semibold">Community</h1>
                  <ul
                      class="text-secondary font-base flex flex-col gap-y-3 text-sm">
                      <li>Event</li>
                      <li>Blog</li>
                      <li>Podcast</li>
                      <li>Invite a friend</li>
                  </ul>
              </div>
              <div class="flex flex-col gap-5">
                  <h1 class="text-primary text-xl font-semibold">Socials</h1>
                  <ul
                      class="text-secondary font-base flex flex-col gap-y-3 text-sm">
                      <li>Discord</li>
                      <li>Instagram</li>
                      <li>Twitter</li>
                      <li>Facebook</li>
                  </ul>
              </div>
          </div>
      </div>
      <hr class="my-10 divide-x-2" />
      <div class="flex flex-col-reverse justify-between gap-y-5 lg:flex-row">
          <span class="text-primary text-base font-semibold">
              ©2022 X-AUTO. All rights reserved
          </span>
          <div class="flex flex-row gap-y-5 lg:flex-row justify-between lg:gap-20">
              <span class="text-primary text-sm font-semibold">
                  Privacy & Policy
              </span>
              <span class="text-primary text-sm font-semibold">
                  Terms & Condition
              </span>
          </div>
      </div>
  </div>
</footer>