<form
        action=""
        method=""
        class="grid h-full w-full grid-cols-1 gap-y-5 overflow-y-auto overflow-x-hidden p-5"
      >
        <div class="flex w-full flex-col justify-start gap-y-3">
          <span class="secondary-text font-base text-[0.6rem] tracking-wider">
            TYPE
          </span>
          <div class="flex flex-col gap-y-4">
            <label class="flex flex-row items-center gap-x-2">
              <input
                type="checkbox"
                class="h-3.5 w-3.5 rounded-sm text-[#C348FD] duration-300 focus:ring-transparent"
              />
              <div class="flex items-center justify-center gap-1">
                <span class="primary-text text-sm font-semibold">Sport</span>
                <span class="secondary-text text-sm font-normal">(10)</span>
              </div>
            </label>
            <label class="flex flex-row items-center gap-x-2">
              <input
                type="checkbox"
                class="h-3.5 w-3.5 rounded-sm text-[#C348FD] duration-300 focus:ring-transparent"
              />
              <div class="flex items-center justify-center gap-1">
                <span class="primary-text text-sm font-semibold">SUV</span>
                <span class="secondary-text text-sm font-normal">(12)</span>
              </div>
            </label>
            <label class="flex flex-row items-center gap-x-2">
              <input
                type="checkbox"
                class="h-3.5 w-3.5 rounded-sm text-[#C348FD] duration-300 focus:ring-transparent"
              />
              <div class="flex items-center justify-center gap-1">
                <span class="primary-text text-sm font-semibold">MVP</span>
                <span class="secondary-text text-sm font-normal">(16)</span>
              </div>
            </label>
            <label class="flex flex-row items-center gap-x-2">
              <input
                type="checkbox"
                class="h-3.5 w-3.5 rounded-sm text-[#C348FD] duration-300 focus:ring-transparent"
              />
              <div class="flex items-center justify-center gap-1">
                <span class="primary-text text-sm font-semibold">Sedan</span>
                <span class="secondary-text text-sm font-normal">(20)</span>
              </div>
            </label>
            <label class="flex flex-row items-center gap-x-2">
              <input
                type="checkbox"
                class="h-3.5 w-3.5 rounded-sm text-[#C348FD] duration-300 focus:ring-transparent"
              />
              <div class="flex items-center justify-center gap-1">
                <span class="primary-text text-sm font-semibold">
                  Hatchback
                </span>
                <span class="secondary-text text-sm font-normal">(14)</span>
              </div>
            </label>
          </div>
        </div>

        <!-- Capacity Section -->
        <div class="flex w-full flex-col justify-start gap-y-3">
          <span class="secondary-text font-base text-[0.6rem] tracking-wider">
            CAPACITY
          </span>
          <div class="flex flex-col gap-y-4">
            <label class="flex flex-row items-center gap-x-2">
              <input
                type="checkbox"
                class="h-3.5 w-3.5 rounded-sm text-[#C348FD] duration-300 focus:ring-transparent"
              />
              <div class="flex items-center justify-center gap-1">
                <span class="primary-text text-sm font-semibold">Sport</span>
                <span class="secondary-text text-sm font-normal">(10)</span>
              </div>
            </label>
            <label class="flex flex-row items-center gap-x-2">
              <input
                type="checkbox"
                class="h-3.5 w-3.5 rounded-sm text-[#C348FD] duration-300 focus:ring-transparent"
              />
              <div class="flex items-center justify-center gap-1">
                <span class="primary-text text-sm font-semibold">SUV</span>
                <span class="secondary-text text-sm font-normal">(12)</span>
              </div>
            </label>
            <label class="flex flex-row items-center gap-x-2">
              <input
                type="checkbox"
                class="h-3.5 w-3.5 rounded-sm text-[#C348FD] duration-300 focus:ring-transparent"
              />
              <div class="flex items-center justify-center gap-1">
                <span class="primary-text text-sm font-semibold">MVP</span>
                <span class="secondary-text text-sm font-normal">(16)</span>
              </div>
            </label>
            <label class="flex flex-row items-center gap-x-2">
              <input
                type="checkbox"
                class="h-3.5 w-3.5 rounded-sm text-[#C348FD] duration-300 focus:ring-transparent"
              />
              <div class="flex items-center justify-center gap-1">
                <span class="primary-text text-sm font-semibold">Sedan</span>
                <span class="secondary-text text-sm font-normal">(20)</span>
              </div>
            </label>
            <label class="flex flex-row items-center gap-x-2">
              <input
                type="checkbox"
                class="h-3.5 w-3.5 rounded-sm text-[#C348FD] duration-300 focus:ring-transparent"
              />
              <div class="flex items-center justify-center gap-1">
                <span class="primary-text text-sm font-semibold">
                  Hatchback
                </span>
                <span class="secondary-text text-sm font-normal">(14)</span>
              </div>
            </label>
          </div>
        </div>

        <!-- Price Section -->
        <div class="flex w-full flex-col justify-start gap-y-3">
          <span class="secondary-text font-base text-[0.6rem] tracking-wider">
            PRICE
          </span>
          <div class="flex flex-col gap-y-2">
            <label class="flex flex-col items-start gap-y-1">
              <input
                id="default-range"
                type="range"
                value="50"
                class="slider primary-bg w-full"
              />

              <span class="primary-text text-sm font-semibold">
                Max. $100.00
              </span>
            </label>
          </div>
        </div>
      </form>