<div class="default-page-bg flex h-screen w-full flex-col">
  <!-- Header -->
  <app-navbar></app-navbar>
  <!-- Main Section -->
  <main
    class="container flex gap-5 h-full w-full max-w-7xl overflow-hidden">
    <!-- Sidebar -->
    <section class="sticky top-0 h-full w-[20%] rounded-br-md bg-white">
    <app-admin-sidebar></app-admin-sidebar>
    </section>
<!-- Sidebar -->
    <!-- Main Section -->
    <section class="container mx-auto flex h-full w-[80%]">
      <div class="flex h-full w-full gap-6 py-6">
        <div
          class="relative flex h-full w-3/5 flex-col gap-y-2 overflow-hidden overflow-y-auto overflow-x-hidden rounded-md bg-white p-5">
          <h1 class="primary-text text-lg font-semibold">
            Current Rental Details
          </h1>

          <div
            style="
              background: url('assets/images/Maps.png');
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
            "
            class="h-[40%] w-full cursor-pointer rounded-md"></div>

          <div class="flex h-[45%] w-full flex-col gap-y-2 rounded-md">
            <div class="flex flex-col justify-between gap-y-2">
              <div
                class="mt-5 mb-5 flex w-full flex-row items-center justify-start gap-5">
                <div
                  style="
                    background-image: url('assets/images/featured-bg-1.jpg');
                    object-position: center;
                    object-fit: fill;
                    background-size: cover;
                  "
                  class="lg:32 relative h-16 rounded-md xl:w-44">
                  <div
                    class="absolute bottom-2 left-0 right-0 flex items-center justify-center px-2 md:px-2">
                    <img src="assets/images/nissangtr.jpg" />
                  </div>
                </div>
                <div class="flex w-full flex-row justify-between gap-y-5">
                  <div class="flex flex-col items-start justify-start">
                    <h1 class="primary-text text-2xl font-semibold">
                      Nissan GT - R
                    </h1>
                    <div class="flex flex-row items-center gap-2">
                      <h1 class="secondary-text text-xs font-medium">
                        Sports Car
                      </h1>
                    </div>
                  </div>
                  <div class="flex flex-col items-end">
                    <h1 class="secondary-text text-xs font-medium">
                      #326327
                    </h1>
                  </div>
                </div>
              </div>
            </div>

            <div class="mt-10 mb-10 flex flex-col -space-y-10">
              <div class="flex flex-col">
                <div class="flex flex-col gap-y-2">
                  <div class="flex items-center gap-2">
                    <span>
                      <svg
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <rect
                          width="16"
                          height="16"
                          rx="8"
                          fill="#C348FD"
                          fill-opacity="0.3" />
                        <circle cx="8" cy="8" r="4" fill="#C348FD" />
                      </svg>
                    </span>
                    <span class="primary-text block text-xs font-medium">
                      Pick - Up
                    </span>
                  </div>

                  <div class="h-24 w-full rounded-md md:h-28">
                    <div
                      class="flex w-full items-center justify-between px-5">
                      <label class="flex flex-col items-start justify-start">
                        <span class="primary-text text-sm font-semibold">
                          Location
                        </span>
                        <h1
                          class="secondary-text gap-2 rounded-sm border-0 border-transparent border-white text-xs font-semibold duration-300 focus:border-transparent focus:ring-1 focus:ring-[#B37CCD]">
                          St.Catherine Branch
                        </h1>
                      </label>
                      <hr class="divide-x-4 divide-red-800" />
                      <label class="flex flex-col items-start justify-start">
                        <span class="primary-text text-sm font-semibold">
                          Date
                        </span>
                        <h1
                          class="secondary-text input-clean gap-2 rounded-sm border-0 border-transparent border-white text-xs font-semibold duration-300 focus:border-transparent focus:ring-1 focus:ring-[#B37CCD]">
                          9/20/2022
                        </h1>
                      </label>
                      <hr class="divide-x-4 divide-red-800" />

                      <label class="flex flex-col items-start justify-start">
                        <span class="primary-text text-sm font-semibold">
                          Time
                        </span>
                        <h1
                          class="secondary-text gap-2 rounded-sm border-0 border-transparent border-white text-xs font-semibold duration-300 focus:border-transparent focus:ring-1 focus:ring-[#B37CCD]">
                          7:00 AM
                        </h1>
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="flex flex-col">
                <div class="flex flex-col gap-y-2">
                  <div class="flex items-center gap-2">
                    <span>
                      <svg
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <rect
                          width="16"
                          height="16"
                          rx="8"
                          fill="#C348FD"
                          fill-opacity="0.3" />
                        <circle cx="8" cy="8" r="4" fill="#C348FD" />
                      </svg>
                    </span>
                    <span class="primary-text block text-xs font-medium">
                      Pick - Up
                    </span>
                  </div>

                  <div class="h-24 w-full rounded-md md:h-28">
                    <div
                      class="flex w-full items-center justify-between px-5">
                      <label class="flex flex-col items-start justify-start">
                        <span class="primary-text text-sm font-semibold">
                          Location
                        </span>
                        <h1
                          class="secondary-text gap-2 rounded-sm border-0 border-transparent border-white text-xs font-semibold duration-300 focus:border-transparent focus:ring-1 focus:ring-[#B37CCD]">
                          St.Catherine Branch
                        </h1>
                      </label>
                      <hr class="divide-x-4 divide-red-800" />
                      <label class="flex flex-col items-start justify-start">
                        <span class="primary-text text-sm font-semibold">
                          Date
                        </span>
                        <h1
                          class="secondary-text input-clean gap-2 rounded-sm border-0 border-transparent border-white text-xs font-semibold duration-300 focus:border-transparent focus:ring-1 focus:ring-[#B37CCD]">
                          9/20/2022
                        </h1>
                      </label>
                      <hr class="divide-x-4 divide-red-800" />

                      <label class="flex flex-col items-start justify-start">
                        <span class="primary-text text-sm font-semibold">
                          Time
                        </span>
                        <h1
                          class="secondary-text gap-2 rounded-sm border-0 border-transparent border-white text-xs font-semibold duration-300 focus:border-transparent focus:ring-1 focus:ring-[#B37CCD]">
                          7:00 AM
                        </h1>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <hr />

            <div class="h-[15%] w-full rounded-md">
              <div class="flex w-full justify-between p-5">
                <div>
                  <h1 class="primary-text font-bold lg:text-lg xl:text-xl">
                    Total Rental Price
                  </h1>
                  <h4 class="secondary-text text-sm font-medium">
                    Overall price, includes rental discount
                  </h4>
                </div>
                <h1 class="text-3xl font-bold">$80.00</h1>
              </div>
            </div>
          </div>
        </div>

        <div
          class="flex h-full w-2/5 flex-col justify-between gap-6 overflow-y-auto overflow-x-hidden">
          <div class="h-auto rounded-md bg-white p-5">
            <div class="flex flex-col gap-y-2">
              <h1 class="primary-text text-lg font-semibold">
                Recent Transactions
              </h1>
            </div>
            <hr />

            <div
              class="mt-5 mb-5 flex w-full flex-row items-center justify-start gap-5">
              <div class="relative h-16 w-32 rounded-md">
                <div
                  class="absolute bottom-2 left-0 right-0 flex items-center justify-center px-2 md:px-2">
                  <img src="assets/images/nissangtr.jpg" />
                </div>
              </div>
              <div class="flex w-60 flex-row justify-between gap-y-5">
                <div>
                  <h1 class="primary-text text-lg font-semibold">
                    Nissan GT - R
                  </h1>
                  <div class="flex flex-row items-center gap-2">
                    <h1 class="secondary-text text-xs font-medium">
                      Sports Car
                    </h1>
                  </div>
                </div>
                <div class="flex flex-col items-end">
                  <h1 class="secondary-text text-xs font-medium">19 Jul</h1>
                  <span class="primary-text text-base font-medium">
                    $80.00
                  </span>
                </div>
              </div>
            </div>
            <div
              class="mt-5 mb-5 flex w-full flex-row items-center justify-start gap-5">
              <div class="relative h-16 w-32 rounded-md">
                <div
                  class="absolute bottom-2 left-0 right-0 flex items-center justify-center px-2 md:px-2">
                  <img src="assets/images/nissangtr.jpg" />
                </div>
              </div>
              <div class="flex w-60 flex-row justify-between gap-y-5">
                <div>
                  <h1 class="primary-text text-lg font-semibold">
                    Nissan GT - R
                  </h1>
                  <div class="flex flex-row items-center gap-2">
                    <h1 class="secondary-text text-xs font-medium">
                      Sports Car
                    </h1>
                  </div>
                </div>
                <div class="flex flex-col items-end">
                  <h1 class="secondary-text text-xs font-medium">19 Jul</h1>
                  <span class="primary-text text-base font-medium">
                    $80.00
                  </span>
                </div>
              </div>
            </div>
            <div
              class="mt-5 mb-5 flex w-full flex-row items-center justify-start gap-5">
              <div class="relative h-16 w-32 rounded-md">
                <div
                  class="absolute bottom-2 left-0 right-0 flex items-center justify-center px-2 md:px-2">
                  <img src="assets/images/nissangtr.jpg" />
                </div>
              </div>
              <div class="flex w-60 flex-row justify-between gap-y-5">
                <div>
                  <h1 class="primary-text text-lg font-semibold">
                    Nissan GT - R
                  </h1>
                  <div class="flex flex-row items-center gap-2">
                    <h1 class="secondary-text text-xs font-medium">
                      Sports Car
                    </h1>
                  </div>
                </div>
                <div class="flex flex-col items-end">
                  <h1 class="secondary-text text-xs font-medium">19 Jul</h1>
                  <span class="primary-text text-base font-medium">
                    $80.00
                  </span>
                </div>
              </div>
            </div>
            <div
              class="mt-5 mb-5 flex w-full flex-row items-center justify-start gap-5">
              <div class="relative h-16 w-32 rounded-md">
                <div
                  class="absolute bottom-2 left-0 right-0 flex items-center justify-center px-2 md:px-2">
                  <img src="assets/images/nissangtr.jpg" />
                </div>
              </div>
              <div class="flex w-60 flex-row justify-between gap-y-5">
                <div>
                  <h1 class="primary-text text-lg font-semibold">
                    Nissan GT - R
                  </h1>
                  <div class="flex flex-row items-center gap-2">
                    <h1 class="secondary-text text-xs font-medium">
                      Sports Car
                    </h1>
                  </div>
                </div>
                <div class="flex flex-col items-end">
                  <h1 class="secondary-text text-xs font-medium">19 Jul</h1>
                  <span class="primary-text text-base font-medium">
                    $80.00
                  </span>
                </div>
              </div>
            </div>
            <div
              class="mt-5 mb-5 flex w-full flex-row items-center justify-start gap-5">
              <div class="relative h-16 w-32 rounded-md">
                <div
                  class="absolute bottom-2 left-0 right-0 flex items-center justify-center px-2 md:px-2">
                  <img src="assets/images/nissangtr.jpg" />
                </div>
              </div>
              <div class="flex w-60 flex-row justify-between gap-y-5">
                <div>
                  <h1 class="primary-text text-lg font-semibold">
                    Nissan GT - R
                  </h1>
                  <div class="flex flex-row items-center gap-2">
                    <h1 class="secondary-text text-xs font-medium">
                      Sports Car
                    </h1>
                  </div>
                </div>
                <div class="flex flex-col items-end">
                  <h1 class="secondary-text text-xs font-medium">19 Jul</h1>
                  <span class="primary-text text-base font-medium">
                    $80.00
                  </span>
                </div>
              </div>
            </div>
            <div
              class="mt-5 mb-5 flex w-full flex-row items-center justify-start gap-5">
              <div class="relative h-16 w-32 rounded-md">
                <div
                  class="absolute bottom-2 left-0 right-0 flex items-center justify-center px-2 md:px-2">
                  <img src="assets/images/nissangtr.jpg" />
                </div>
              </div>
              <div class="flex w-60 flex-row justify-between gap-y-5">
                <div>
                  <h1 class="primary-text text-lg font-semibold">
                    Nissan GT - R
                  </h1>
                  <div class="flex flex-row items-center gap-2">
                    <h1 class="secondary-text text-xs font-medium">
                      Sports Car
                    </h1>
                  </div>
                </div>
                <div class="flex flex-col items-end">
                  <h1 class="secondary-text text-xs font-medium">19 Jul</h1>
                  <span class="primary-text text-base font-medium">
                    $80.00
                  </span>
                </div>
              </div>
            </div>
            <div
              class="mt-5 mb-5 flex w-full flex-row items-center justify-start gap-5">
              <div class="relative h-16 w-32 rounded-md">
                <div
                  class="absolute bottom-2 left-0 right-0 flex items-center justify-center px-2 md:px-2">
                  <img src="assets/images/nissangtr.jpg" />
                </div>
              </div>
              <div class="flex w-60 flex-row justify-between gap-y-5">
                <div>
                  <h1 class="primary-text text-lg font-semibold">
                    Nissan GT - R
                  </h1>
                  <div class="flex flex-row items-center gap-2">
                    <h1 class="secondary-text text-xs font-medium">
                      Sports Car
                    </h1>
                  </div>
                </div>
                <div class="flex flex-col items-end">
                  <h1 class="secondary-text text-xs font-medium">19 Jul</h1>
                  <span class="primary-text text-base font-medium">
                    $80.00
                  </span>
                </div>
              </div>
            </div>
            <div
              class="mt-5 mb-5 flex w-full flex-row items-center justify-start gap-5">
              <div class="relative h-16 w-32 rounded-md">
                <div
                  class="absolute bottom-2 left-0 right-0 flex items-center justify-center px-2 md:px-2">
                  <img src="assets/images/nissangtr.jpg" />
                </div>
              </div>
              <div class="flex w-60 flex-row justify-between gap-y-5">
                <div>
                  <h1 class="primary-text text-lg font-semibold">
                    Nissan GT - R
                  </h1>
                  <div class="flex flex-row items-center gap-2">
                    <h1 class="secondary-text text-xs font-medium">
                      Sports Car
                    </h1>
                  </div>
                </div>
                <div class="flex flex-col items-end">
                  <h1 class="secondary-text text-xs font-medium">19 Jul</h1>
                  <span class="primary-text text-base font-medium">
                    $80.00
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>