<div class="flex justify-center space-x-20 mt-32 items-center">
  <div class="w-72">
    <div class="bg-white rounded overflow-hidden shadow-lg">
      <div class="text-center p-6 border-b">
        <div class="mr-2 flex justify-center">
          <img
            class="w-24 h-24 rounded-full object-cover"
            src="https://img.freepik.com/free-photo/portrait-cheerful-caucasian-man_53876-13440.jpg?w=2000"
          />
        </div>
        <p class="pt-2 text-lg font-semibold secondary-text">John Doe</p>
        <p class="text-sm secondary-text">John@Doe.com</p>
        <div class="mt-5">
          <button
            (click)="photoPicker.click()"
            class="px-6 mb-5 py-2 font-medium tracking-wide text-white capitalize transition-colors duration-300 transform primary-bg rounded-md focus:ring-opacity-80"
          >
            Upload New Photo
          </button>
          <input
            name="profileImage"
            required
            type="file"
            class="hidden"
            #photoPicker
          />

          <div class="border-2 rounded-md bg-gray-100 mb-8">
            <div class="p-4">
              <p class="text-xs secondary-text mb-3">
                Upload a new avatar. Larger image will be resized automatically.
              </p>
              <p class="text-xs secondary-text">
                Maximum upload size is <span class="font-medium">1 MB</span>
              </p>
            </div>
          </div>

          <p class="secondary-text text-sm">
            Member Since: <span class="font-medium">20 September 2022</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col rounded-md bg-white p-5 shadow-md w-3/5">
    <div>
      <h1 class="text-primary text-2xl font-semibold">Edit User Profile</h1>
    </div>

    <div class="mt-10 grid h-full grid-cols-1 gap-5 lg:grid-cols-2">
      <div class="relative">
        <label class="text-primary block text-xs font-medium" for="firstName">
          First Name
        </label>

        <input
          placeholder="First Name"
          class="placeholder::font-semibold mt-2 w-full rounded-lg border-2 border-transparent bg-[#F6F7F9] p-2 px-5 text-sm placeholder:text-xs placeholder:text-[#90A3BF]"
          id="firstName"
          type="text"
        />
      </div>

      <div class="relative">
        <label class="text-primary block text-xs font-medium" for="lastName">
          Last Name
        </label>

        <input
          placeholder="Last Name"
          class="placeholder::font-semibold mt-2 w-full rounded-lg border-2 border-transparent bg-[#F6F7F9] p-2 px-5 text-sm placeholder:text-xs placeholder:text-[#90A3BF]"
          id="lastName"
          type="text"
        />
      </div>

      <div class="relative">
        <label class="text-primary block text-xs font-medium" for="email">
          Email
        </label>

        <input
          placeholder="Email"
          class="placeholder::font-semibold mt-2 w-full rounded-lg border-2 border-transparent bg-[#F6F7F9] p-2 px-5 text-sm placeholder:text-xs placeholder:text-[#90A3BF]"
          id="email"
          type="email"
        />
      </div>

      <div class="relative">
        <label
          class="text-primary block text-xs font-medium"
          for="passwordCurrent"
        >
          Current Password
        </label>

        <input
          placeholder="Current Password"
          class="placeholder::font-semibold mt-2 w-full rounded-lg border-2 border-transparent bg-[#F6F7F9] p-2 px-5 text-sm placeholder:text-xs placeholder:text-[#90A3BF]"
          id="passwordCurrent"
          type="password"
        />
      </div>

      <div class="relative">
        <label class="text-primary block text-xs font-medium" for="password">
          New Password
        </label>

        <input
          placeholder="New Password"
          class="placeholder::font-semibold mt-2 w-full rounded-lg border-2 border-transparent bg-[#F6F7F9] p-2 px-5 text-sm placeholder:text-xs placeholder:text-[#90A3BF]"
          id="password"
          type="password"
        />
      </div>

      <div class="relative">
        <label
          class="text-primary block text-xs font-medium"
          for="confirmPassword"
        >
          Confirm Password
        </label>

        <input
          placeholder="Confirm Password"
          class="placeholder::font-semibold mt-2 w-full rounded-lg border-2 border-transparent bg-[#F6F7F9] p-2 px-5 text-sm placeholder:text-xs placeholder:text-[#90A3BF]"
          id="confirmPassword"
          type="password"
        />
      </div>
      <div class="relative">
        <button
          class="px-6 mb-5 py-2 font-medium tracking-wide text-white capitalize transition-colors duration-300 transform primary-bg rounded-md focus:ring-opacity-80"
        >
          Update Profile
        </button>
      </div>
    </div>
  </div>
</div>
